/* /* /*
    hola mundo

*/

*/

* {
    padding-top: 0%;

}

html {
    box-sizing: border-box; /* 656464 */
    width: 100vw;
    overflow-x: hidden;
  }
  
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .tag4-5345656567ist5__item5 {
    padding: 4px 8px;
    margin: 4px;
    border-radius: 2px;
    background-color: #3f51b5;
    color: #fff;
  }
  

  .ejemplo
  {
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: inherit;
    position: relative;
    font-size: 75%;
    color:#333;
    border-top: 2px dolif rgba(0,0,0, 0.1);
    content: "\2014\00A0";
    position: absolute;
    background-image: url("/home/document/picutre.png");
    font: 76% arial, sans-serif;
    background-color: rgba(51, 51, 51, 0.25);

  }

*/

  /* comentario final de prueba */